@import '~styles/variables.less';
.card {
    color: @usual;
    line-height: 2;
    margin: 4rem 0;
}

.card-time {
    margin: 1rem 0;
    font-weight: bold;
}

.card-h1 {
    color: @usual;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
}

.card-btn {
    background-color: white;
    border: solid 2px @primary;
    box-sizing: border-box;
    color: @primary;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    height: 3rem;
    letter-spacing: 1px;
    margin: 2rem 0;
    outline: none;
    width: 8rem;
    transition: all 0.6s;
    &:hover {
        background-color: @primary;
        border: 0;
        box-shadow: 0 0 1rem @light;
        color: white;
        transform: translateY(-4px);
    }
}

.card-link {
    color: @primary;
    display: inline-block;
    text-decoration: underline;
    &:last-child {
        &::after {
            display: inline-block;
            content: '.';
        }
    }
    &::after {
        display: inline-block;
        content: ',';
        padding-right: 0.5rem;
    }
}