@import '~styles/variables.less';
.nav {
    display: flex;
    width: 100%;
    margin: 4rem 0;
    justify-content: space-between;
}

.nav-link {
    background-color: white;
    border: solid 2px @lighter;
    flex: none;
    position: relative;
    transition: box-shadow 0.6s, transform 0.6s;
    width: 25%;
    &:hover {
        box-shadow: 0 0 1rem @lighter;
        transform: translateY(-4px);
        .nav-text {
            color: @light;
        }
        .nav-img-front {
            display: none;
        }
        .nav-img-back {
            display: inline-block;
        }
    }
}

.nav-text {
    bottom: 0.5rem;
    color: @light;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    right: 0.5rem;
    transition: color 0.6s;
    @media (min-width: 768px) {
        bottom: 1rem;
        font-size: 1.5rem;
        right: 1rem;
    }
}

.nav-img {
    width: 100%;
    animation: fadeInAnimate 1s;
}

.nav-img-back {
    display: none;
}

@keyframes fadeInAnimate {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}